@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=STIX+Two+Text:ital,wght@1,600&display=swap');


/* *{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
 */
.container{
    max-width:1300px;
    min-width: 300px;
    margin: 8px auto;
    border: 1px solid #e8ecf0;
    box-shadow: 0 0 10px rgb(88 88 95 / 12%);
    //font-family: 'STIX Two Text', serif;
    font-family: 'Roboto Mono', monospace;
    :hover {
        box-shadow: inset 0 0 10px rgb(88 88 95 / 12%);
        cursor: none;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        user-select: none;

    }
}
 /* 
header {
    width: 100% ;
    padding: 15px 15px 20px;
    background-color: rgb(55, 61, 72);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
        .name {
       
            font-size: 36px;
            line-height: 36px;
            font-weight: 700;
        }
        .role{
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
        }
    }

    .profimg{
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%; 
        overflow: hidden;
        img{
            height:200px;
            transform: translateX(-30px);
        }
    }
   
}

@media only screen and (max-width:600px) {

    header {
        flex-direction: column-reverse;

        .info {
            .name {
           
                font-size: 20px;
            }
        }
    }

}  */

/* .noWrap{
    white-space: nowrap;
    
} */

.resumeDetails{
    display: flex;
    flex-wrap: wrap;
   /*  p  {
        //font-size: clamp(11px,15px,18px);
        font-size: 12px;
        line-height: 18px;
        outline-color: rgb(52,52,52);
    } */
    .main {
        flex:2;
        padding:15px;
    }
    .side {
        flex:1;
        padding:15px;
        background-color: rgb(244,244,244);
    }

}
/* 
.sections {
    font-size: 11px;
    line-height: 18px;
    .heading {
        width:100%;
        border-bottom: 1px solid black;
        padding-top: 15px;
        padding-bottom: 3px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }
    .details{
        display: flex;
        .timeframe{
            flex:1;
            font-weight: 700;
            //font-size: 14px;
        }
        .detailsInfo{
            flex:3;
            .position {
                font-weight: 700;
                font-size: 14px;
                display: block;
                letter-spacing: 0.2px;
            }
            .organization {
                font-weight: 400;
                display: block;
            }
    
            ul{
                padding-left: 15px;
            }
        }
    }
    .details > *{
        padding:15px;
    }

   
}
 *//* 
.contact{
    font-size: 11px;
    outline-color: rgb(52,52,52);
    .heading {
        width:100%;
        border-bottom: 1px solid black;
        padding-top: 15px;
        padding-bottom: 3px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }
    .contactbox{
        display:flex;
        flex-wrap: wrap;
    
    .contactSection{
        flex-basis: 50%;

        .contactTitle{
            font-weight: bold;
            line-height: 18px;
            }
    
        .contactInfo{
            line-height: 18px;
        }
    }
    }
    
}
.skills{
    font-size: 11px;
    outline-color: rgb(52,52,52);
    .heading {
        width:100%;
        border-bottom: 1px solid black;
        padding-top: 15px;
        padding-bottom: 3px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }
    .category{
        display: flex;
        flex-direction: column;
        max-width: 70%;
    }
    .categoryItems{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        .categoryName{
            font-weight: bold;
            line-height: 15px;
            padding: 5px;
        }
        .categoryDetail{
            width: 100%;
            padding-left: 15px;
            padding-bottom: 3px;
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            
            .skillName , .skillRating{
                flex:1
            }
        }
    }
    
}


    
@media only screen and (max-width:600px) {

    .skills {
       

        .category {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100% !important;
        }
        .categoryItems{
            flex-basis: 50%;
        }
        .categoryDetail{
           // max-width: 100%;
        }
    }

}
.languages{
    font-size: 11px;
    outline-color: rgb(52,52,52);
    .heading {
        width:100%;
        border-bottom: 1px solid black;
        padding-top: 15px;
        padding-bottom: 3px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }
   
    .languageItems{
        padding-top: 15px;
        ul { list-style-type: none;display: flex; 
        li{
            padding-left: 15px;
        }
        }
    }
} */
