/* You can add global styles to this file, and also import other style files */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    max-width: 1300px;
    min-width: 300px;
    margin: 8px auto;
    border: 1px solid #e8ecf0;
    box-shadow: 0 0 10px rgb(88 88 95 / 12%);
    //font-family: 'STIX Two Text', serif;
    font-family: 'Roboto Mono', monospace;
     :hover {
        box-shadow: inset 0 0 10px rgb(88 88 95 / 12%);
        // cursor: none;
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        user-select: none;
    }
}


/* 

@media screen and (max-width: 560px) {
    .container {
        max-width: 560px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }
} */